*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}
.outer{
    max-width: 1200px;
    margin: auto;
}
.row{
    margin-top: 50px;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 15px;
}